.instructions, .start-button, .questions {
    border: 1px solid black;
    text-align: center;
}

.start-button {
    margin-top: 50px;
}

#close-button {
    display: none;
}

.answers {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   text-align: center;
   margin-top: 100px;
}

#answer-1, #answer-2, #answer-3 {
    border: 1px solid black;
}

.next-question {
    text-align: center;
    margin-top: 100px;
    border: 1px solid black;
}